// font family used
$family: 'Inter', sans-serif;
// colors
$main-bg: #f3f5ec;
$flow-text: #d9dfdf;
$black: #000;
$text-color: #545353;
$btn-bg: #3d068f;
$white: #fff;
//breakpoint
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';